<div class="container">
<div class="row">
<div class="col-lg-3">

<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
<% end %>

<div class="mx-auto" style="width: 250px;">

<h2>User info</h2>

<%= attachment_image_tag @user, :profile_image, style: "width:100px; height:100px;", format: 'jpg',fallback: "no_images.jpg" %>

<p>name <%= @user.name %></p>

<p>introduction  <%= @user.introduction %></p>

<%= link_to edit_user_path(@user), class: "btn btn-default form-control " do %>
    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    <% end %>

<h2>Newbook</h2>

<%= form_for(@book) do |f| %>

<% if @book.errors.any? %>
<h3>errorが<%= @booksk.errors.count %>件あります</h3>
  <ul>
   <% @book.errors.full_messages.each do |message| %>s
      <li><%= message %></li>
    <% end %>
  </ul>
 <% end %>

    <h4>Title</h4>
    <%= f.text_field :title  %>

    <h4>Body</h4>
    <%= f.text_area :body %>

    <%= f.submit 'Create Book' %>

<% end %>
</div>
</div>

<div class="col-lg-9">
<h2>Book detail</h2>
<table class="table table-striped">
<thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
  <tr>
  <td>
<%= attachment_image_tag @user, :profile_image, style: "width:40px; height:40px;", format: 'jpg',fallback: "no_images.jpg" %></td>
<td><%= @books.title %></td>
<td><%= @books.body %></td>
<td><%= link_to  @user.name, user_path(@user) %></td>
<% if user_signed_in? %>
  <% if current_user == @user || current_user.admin? %>
<td><%= link_to "Edit", edit_book_path(@books.id) %></td>
<td><%= link_to 'Destroy', book_path(@books.id),method: :delete, "data-confirm" => "Are you Sure?"%></td>
</tr>
<% end %>
<% end %>
</tbody>
</table>
</div>
</div>
</div>

